@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Inter&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    font-size: 62.5%;
 }
 body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
 }
 .container {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .total {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 .navbar {
  background-color: #000000;
  color: #ffffff;
  width: 100vw;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
 }
 .navigation {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 8rem;
  z-index: 50;
 }
 .awards {
   font-family: 'Arsenal';
   font-size: 3.25rem;
   font-weight: 500;
   text-align: left;
   padding-left: 3rem;
   cursor: pointer;
 }
 .second-item {
  display: flex;
  justify-content: space-around;
  width: 45%;
  cursor: pointer;
 }
 .about_us,
 .contact {
  font-family: 'Arsenal';
  font-size: 1.86rem;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
 }
 .sign_in {
  padding-right: 3rem;
  font-size: 1.86rem;
  font-weight: 300;
  font-style: italic;
  cursor: pointer;
 }
 .competition {
  font-size: 1.86rem;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
 }
 .upper-part {
  background-color: #000000;
  display: flex;
  justify-content: center;
 }
 .details {
   width: 90%;
   display: flex;
   justify-content: space-between;
   padding-bottom: 8rem;
   padding-top: 10rem;
 }
 .welcome_para {
   width: 46%;
   color: #ffffff;
   margin-left: 3rem;
   margin-top: 13rem;
 }
 .tittle {
   font-size: 3.5rem;
   font-weight: 600;
   text-align: left;
 }
 .paragraph {
   font-size: 1.6rem;
   font-weight: 200;
   line-height: 1.8rem;
   text-align: left;
   padding-top: 3rem;
 }
 .picture {
   border-radius: 1.25rem;
   margin-top: 4rem;
  }
  a {
   font-size: 2rem;
   font-weight: 300;
   color: #ffffff;
   cursor: pointer;
  }
  .link {
   padding-top: 3rem;
  }

 .lower-part {
   background-image: url("./images/camera\ \(18\).jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .form {
   background: rgba(255, 255, 255, 0.05);
   position:relative;
   width: 100%;
   display: flex;
   margin: 10rem 5rem;
   z-index: 10;
 }
 .form_left {
   flex: 50%;
   display: flex;
   flex-direction: column;
   margin-top: 6rem ;
   margin-bottom: 8rem ;
 }
 .vertical-line {
   border-left: 2px solid rgba(229, 229, 229, 0.6);
   height: 100%;
   position: absolute;
   left: 50%;
   top: 0;
 }
 .fill {
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 600;
   color: #e5e5e5;
 }
 input {
   background-color: transparent;
   border: none; 
   border-bottom: 2px solid rgba(229, 229, 229, 0.6);
   font-size: 1.8rem;
   font-weight: 400;
   text-align: left;
   color: #ffffff;
   margin-top: 4rem;
   width: 100%;
 }
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance:none;
   margin: 0;
 }
 input[type=number] {
   -moz-appearance: textfield;
 }
 input:focus,
 select:focus {
   outline: none;
 }
 select {
   border: none;
   color: #8e8e8e;
   background: transparent;
   font-size: 2rem;
   border-bottom:2px solid rgba(229, 229, 229, 0.6) ;
   margin-top: 5rem;
 }
 .state {
   margin-left: 3rem;
 }
 .gender {
   width: 2rem;
   min-height: 2rem;
   accent-color: #57bf37;
   font-size: 1.8rem;
   color: rgba(229, 229, 229, 0.6);
 }
 .gender-div {
   width: 60%;
   white-space: nowrap;
   display: flex;
   justify-content: flex-start;
   gap: 5rem;
   margin-top: 4rem;
 }
 .form_right {
  flex: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
 }
 .label {
   font-weight: 400;
   font-size: 1.8rem;
   padding-top: 6rem;
   color: rgba(229, 229, 229, 0.6);
 }
 .discription {
   display: flex;
   flex-direction: column;
 }
  textarea {
   background: rgba(196, 196, 196, 0.04);
   border: 1px solid rgba(229, 229, 229, 0.51);
   border-radius: 10px;
   min-height: 10rem;
   width: 26rem;
   padding: 1rem;
   font-size: 1.3rem;
   color: #ffffff;
   resize: none;
 }
 textarea:focus {
   outline: none;
 }
 .label-two {
   font-weight: 500;
   font-size: 2rem;
   margin-top: 6rem;
   color: #ffffff;
 }
 .Card {
   background-color: transparent;
   border: none; 
   border-bottom: 2px solid rgba(229, 229, 229, 0.6);
   font-size: 1.8rem;
   font-weight: 500;
   text-align: left;
   color: #ffffff;
   margin-top: 6rem;
   width: 70%;
 }
 .terms {
   font-weight: 500;
   font-size: 1.8rem;
   display: flex;
   align-items: center;
   text-align: center;
   color: #13aaff;
   margin-top: 0.8rem;
 }
 .checkbox {
   accent-color: #57bf37;
 }
 .submit {
   width: 40%;
   min-height: 4rem;
   color: #ffffff;
   background: #57bf37;
   border-radius: 3rem;
   border: none;
   font-size: 1.8rem;
   margin-top: 6rem;
   cursor: pointer;
 }
 .cancel {
   width: 40%;
   min-height: 4rem;
   color: #ffffff;
   background: #000000;
   border-radius: 3rem;
   border: none;
   font-size: 1.8rem;
   margin: 6rem 4rem;
   cursor: pointer;
 }
 .submit:hover {
   box-shadow: 3px 3px 5px 3px #008000;
   color: #0000ff;
 }
 .cancel:hover {
   box-shadow: 3px 3px 5px 3px rgba(229, 229, 229, 0.6);
   color: #ff0000;
 }
 .contest  {
   margin-top: 3rem;
   width: 68.5%;
 }
 .name,
 .mail,
 .number {
   width: 60%;
 }
 .street-address {
   width: 50%;
 }
 .address-two {
   width: 43%;
 }
 .zip {
   margin-left: 5.7rem;
   width: 12.8rem;
 }
 .button {
   margin-bottom: 2rem;
 }
 .form-fill {
   padding-left: 8rem;
 }
 .form-fill-two {
   padding-left: 5rem;
 }
 .name,
 .mail,
 .number,
 .Card,
 .street-address,
 .address-two,
 .zip,
  select {
   padding-bottom: 1rem;
 }
 label {
  font-weight: 400;
  font-size: 1.8rem;
  color: #8e8e8e;
}
textarea {
  margin-top: 1.3rem ;
}
 
@media screen and (max-width: 750px) {
 .welcome_para {
  margin: 0rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  }
 .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 8rem);
  }
 .navbar {
  display: flex;
  gap: 2rem;
  align-items: baseline;
  }
 .awards {
  font-size: 2.25rem;
  font-weight: 400;
 }
 .about_us,
 .contact,
 .sign_in {
  font-family: 'Arsenal';
  font-size: 1rem;
  font-weight: 300;
 }
 .competition {
  font-size: 1rem;
  font-weight: 600;
 }
 .form-fill {
  width: 100%;
  margin-top: 1rem;
 }
 .form-fill-two {
  width: 100%;
  margin-top: 0rem;
 }
 input {
  font-size: 2rem;
 }
 .tittle {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
 }
 .paragraph {
  font-size: 1.5rem;
  text-align: center;
  padding-right: 2rem;
  padding-left: 2rem;
 }
 a {
  font-size: 1rem;
 }
 .picture {
  padding-top: 1rem;
 }
 select {
  font-size: 2rem;
 }
 .Card {
  font-size: 2rem;
  font-weight: 300;
 }
 .zip {
  width: 11rem;
 }
 .fill {
  font-size: 2rem;
 }
 textarea {
  min-height: 10rem;
  width: 20rem;
  font-size: 1rem;
  border-radius: 5px;
 }
 .submit,
 .cancel {
  font-size: 1.5rem;
  width: 70%;
  margin-top: 3rem;
 }
 .cancel {
  margin-left: 0.1rem;
 }
 .label {
  font-weight: 300;
  font-size: 2rem;
 }
 label {
  font-weight: 300;
  font-size: 1.5rem;
 }
 .gender {
  font-size: 1.5rem;
 }
 .terms {
  font-weight: 400;
  font-size: 1.6rem;
 }
 .form {
  margin: 5rem 2rem;
  flex-direction: column;
  align-items: center;
 }
 .vertical-line {
  display: none;
  visibility: hidden;
 }
 .form_left,
 .form_right {
  flex: 100%;
 }
 .fill-area {
  width: 130%;
 }
 .city-state,
 .country-code {
  display: flex;
  flex-direction: column;
 }
 .state,
 .zip {
  margin-left: 0rem;
 }
 .gender-div {
  padding-left: 0rem;
  margin-top: 2rem;
 }
 .contest-div {
  width: 115%;
 }
 .form-fill {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 .form-fill-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
 } 
 .form_left {
  margin: 1rem auto;
 }
 .form_right {
  margin: 4rem auto;
 }
 .container {
  flex-direction: column;
 }
 .checkbox {
  display: grid;
  align-self: start ;
  justify-items: center;
}
}


@media screen and (max-width: 468px) {
  .picture {
    width: 280px;
   }
   .form {
    width: 100%;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
   }
  .awards {
    font-family: 'Arsenal';
    font-size: 1.25rem;
    font-weight: 300;
  }
 .about_us,
 .contact,
 .sign_in {
    font-family: 'Arsenal';
    font-size: 0.56rem;
    font-weight: 300;
 }
 .competition {
    font-size: 0.56rem;
    font-weight: 200;
 }
 input {
  font-size: 1rem;
  font-weight: 300;
 }
 .city,
 .state,
 .country,
 .contest,
 .Card,
 .label,
 .terms {
  font-size: 1rem;
  font-weight: 300;
 }
 .label-two {
  font-size: 1.2rem;
  font-weight: 300;
 }
 .fill {
  font-size: 1.5rem;
  font-weight: 400;
 }
 textarea {
  min-height: 8rem;
  width: 15rem;
  font-size: 0.9rem;
  border-radius: 5px;
 }
 .fill-area {
  width: 100%;
 }
 .contest-div {
  width: 115%;
 }
}